<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range . }}
    <h1>Region <span>{{.Region}}</span></h1>
    <h2>Hotels</h2>
    <ol>
    {{range .Hotels}}
        <li>
            Name > {{.Name}}
            Address > {{.Address}}
            City > {{.City}}
            Zip > {{.Zip}}
        </li>
    {{end}}
    </ol>

{{end}}
</body>
</html>